body {
  background-image: url("képek/background.png");
  background-repeat: repeat-x;
  background-size: contain;
  overflow: hidden;
}

.karakter {
  position: absolute;
  /* bottom: 400px;
    left: 50px; */
  bottom: 160px;
  left: 200px;
  width: 80px;
  height: 110px;
  background-image: url("képek/karakter_kep.png");
  background-repeat: no-repeat;
  background-size: 80px;
}

.tudos {
 display: none;
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
}
.gold {
  background-image: url(képek/coin.png);
  width: 41px;
  height: 43px;
}

.coin {
  background-image: url(képek/coin.png);
  width: 41px;
  height: 43px;
}

.fireball {
  background-image: url(képek/fireball.png);
  width: 41px;
  height: 43px;
}

#pontszam {
  position: fixed;
  top: 100px;
  left: 50px;
  font-size: 24px;
  color: white;
}

#jatekPalya {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
}

#start_button {
  text-align: center;
  background-color: aqua;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: (-40%, -60);
  font-size: 20px;
}

#tagok {
  font-size: 20px;
}

#fooldal {
  text-align: center;
  background-color: lightcoral;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  position: fixed;
  top: 50px;
  left: 50px;
  font-size: 13px;
}

#tudos_mozgas {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    border-color: #ffcc00;
  }
  50% {
    transform: scale(1.1);
    border-color: #ffcc00;
  }
  100% {
    transform: scale(1);
    border-color: #ffcc00;
  }
}

.item.coin-shower-coin {
  animation: pulse 1s infinite;
}

#life {
  position: fixed;
  top: 140px;
  left: 50px;
  font-size: 24px;
  color: white;
}
.heart {
  background-image: url("/képek/sziv_piros.png");
  position: fixed;
  top: 140px;
  left: 50px;
}
